@mixin font-styles {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.MySelect {

    &__title {
        @include font-styles;
        margin-bottom: 0.5em;
    }

    &__select {
        @include font-styles;

        height: 2.5em;
        width: 100%;
        padding: 0 0.8em;

        background-color: transparent;
        border: 2px solid #f60;
    }

    &__item {
        @include font-styles;
    }
}