.MyTable {
    width: 100%;
    margin: 1.2em 0;

    border-collapse: collapse;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 2.2;

    & td, & th {
        border: 1px solid #333;
        width: 25%;
        text-align: center;
        padding: 0 5px;
    }

    & th {
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
    }
}
