.PageButton {
    display: block;
    width: 2.2em;
    height: 2.2em;
    margin: 5px;

    font-size: 1em;
    color: #333;
    background-color: transparent;
    border: 1px solid #f60;

    transition: background-color .3s, color .3s;

    &._active {
        background-color: #f60;
        color: #fff;
    }

    &:hover {
        font-weight: 600;
        border: 2px solid #f60;
    }
}
